.myclass-1{
  background: #FFFFFF url("imagens/fundo\ 2.jpg") no-repeat right top fixed;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  min-height: 400px;

}

.myclass-2{
background-color: rgb(243, 225, 240);
min-height: 400px;
padding: 25px !important;
background: #FFFFFF url("imagens/fundo.jpg") no-repeat right top fixed;
text-align: center;
}

.col-botoes{
color: brown;
padding-left: 50%;
text-align: center;

}
.col-direitos{
  color: black;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;

}
.col-img1{
    height: auto;
    width: 70%;
    margin-bottom: 30px 30px 30px 30px ;
}
h1{
    margin-top: 20px !important;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
   line-height: 0.7px;
   text-align: center;
   flex-direction: row;
justify-content: center;   
}

.text-h6{
    margin-top: 20px !important;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
  
}
.video{
  min-width: 400px;
  min-height: 300px;
}
.cxtexto{
  border-radius: 7px;
}
.label-input{
  position: relative;
  margin: 20px 0;
}
